body {
  background-color: #1e1e1e;
  color: #b0b7b9;
  font-family: 'Arial', sans-serif;
}

.App {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  /* color: #b0b7b9;  */
  font-size: 2.5em;
  margin-bottom: 30px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.camera-section {
  flex: 1;
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sliders-section {
  flex: 1;
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}

.sliders-section h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.3em;
}

.camera-feed video {
  width: 100%;
  border-radius: 5px;
}

.camera-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.camera-container video {
  width: 100%;
  display: block;
}

.camera-select {
  position: relative;
  z-index: 10;
  margin-bottom: 8px;
}

button {
  /* background-color: #61dafb; */
  color: #1e1e1e;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b6e6f;
}

.button-group {
  display: flex;
  gap: 2em;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* .popup h2 {
  color: #61dafb;
} */

